  
      
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                         {%for link in section.content.links%}
                            {%if link.dot%}
                            <li class="list-inline-item"><a href="{{link.href}}">{{link.text}}</a></li>
                            <li class="list-inline-item">{{link.dot}}</li>
                            {%else%}
                            <li class="list-inline-item"><a href="{{link.href}}">{{link.text}}</a></li>
                            {%endif%}
                        {%endfor%}

                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">{{section.content.copyright}}</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                        <ul class="list-inline mb-0">
                        {%for social in section.content.socials%}
                            <li class="{{social.li_class}}">
                                <a href="{{social.href}}"><i class="{{social.icon}}"></i></a>
                            </li>
                         {%endfor%}   
                      
                        </ul>
                    </div>
                </div>
            </div>
        </footer>