     <!-- Masthead-->
        <header class="masthead text-white text-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto"><h1 class="mb-5">{{section.content.heading}}</h1></div>
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <form>
                            <div class="form-row">
                                <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" type="{{section.content.form.input_type}}" placeholder="{{section.content.form.input_placeholder}}" /></div>
                                <div class="col-12 col-md-3"><button class="{{section.content.form.button_class}}" type="{{section.content.form.button_type}}">{{section.content.form.button_text}}</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>